entrypoint = "real_main.py"
modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-23_05"
packages = ["cargo", "freetype", "gh", "gmp", "lcms2", "libiconv", "libimagequant", "libjpeg", "libsodium", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pkg-config", "postgresql", "rustc", "tcl", "tk", "zlib"]

[deployment]
run = ["python", "real_main.py"]
deploymentTarget = "vm"

[[ports]]
localPort = 8080
externalPort = 80

[agent]
expertMode = true

[workflows]
